* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#product-list {
  list-style-type: none;
  width: calc(4 * 240px);
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.product {
  width: 240px;
  height: 240px;
  border: 1px solid black;
  position: relative;
  display: flex;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.product a {
  display: block;
  width: 100%;
  height: 100%;
}

.product img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.product .product-info {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  padding: 10px;
  font-family: sans-serif;
  background: linear-gradient(
    0deg,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 0%, 0) 100%
  );
}
